.wrap_bg {
  padding-bottom: 45px;
  background: url(../../../src/assets/images/home/home_bg.jpg) no-repeat;
}

.c_title {
  padding: 20px 0;
}

.tableGroup {
  .h_picture {
    width: 22%;
    img {
      width: 100%;
    }
  }
  .h_table {
    width: 78%;
  }
}
.adv_img {
  width: 1200px;
  height: 160px;
  margin-top: 38px;
}
.pull_l {
  float: left;
  width: 50%;
  font-weight: bold;
  font-size: 16px;
  span {
    font-weight: lighter;
    color: #666;
    font-size: 12px;
    margin-left: 5px;
  }
}
.pull_r {
  float: right;
  width: 50%;
  text-align: right;
  font-size: 12px;
  color: #666;
}
.blue_bg {
  background: #4F76CE;
  color: #fff;
  padding: 20px 40px;
  .pull_r {
    color: #fff;
  }
}
.sc05 {
  margin-top: 20px;
  .info_group {
    margin-top: 8px;
    height: 246px;
    color: #666;
    .tab {
      width: 13%;
      margin-right: 1%;
      li {
        display: block;
        height: 74px;
        line-height: 74px;
        text-align: center;
        font-weight: bold;
        &:first-child{
          background: url(../../../src/assets/images/home/icon_fire.png) 30px center #fff no-repeat;
          margin-bottom: 12px;
        }
        &:nth-of-type(2) {
          background: url(../../../src/assets/images/home/icon_line.png) 30px center #fff no-repeat;
          margin-bottom: 12px;
        }
        &:nth-of-type(3) {
          background: url(../../../src/assets/images/home/icon_eye.png) 30px center #fff no-repeat;
        }
      }
    }
    .info_con {
      padding: 22px;
      width: 86%;
      background: #fff;
      font-size: 12px;
      .pull_left {
        width: 65%;
        border-right: 1px solid #ccc;
        .fl {
          width: 34%;
        }
        .fr {
          width: 66%;
          padding: 0 10px;
          div {
            font-weight: bold;
            margin: 10px 0;
          }
          span {
            color: #999;
            margin-bottom: 5px;
            display: block;
          }
          p {
            text-indent: 2em;
            line-height: 22px;
          }
        }
      }
      .pull_right {
        width: 35%;
        line-height: 32px;
        padding: 10px;
        .news-row {
          margin-bottom: 10px;
          .pic {
            width: 10%;
            // width: 32px;
            height: 32px;
            // margin-right: 5px;
          }
          .desc {
            width: 70%;
            padding-left: 10px;
          }
          .timer {
            width: 20%;
            color: #999;
          }
        }
      }
    }
  }
}
.sc06 {
  width: 100%;
  height: 154px;
  background: url(../../../src/assets/images/home/friendLine_bg.jpg) no-repeat;
  margin-top: 20px;
  .c_title {
    padding: 20px 60px;
    background: url(../../../src/assets/images/home/icon_jewel.png) 25px center no-repeat;
  }
  ul {
    li {
      float: left;
      width: 16%;
      margin: 1% 2%;
    }
  }
}
/deep/ .sc03 {
  .el-table td, .el-table th {
    padding: 9px 0;
  }
}
