// .northWestIndex {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   list-style: none;
// }
.header {
  .pull_t {
    background: #F2F2F2;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #a1a1a1;
    .h_login {
      a {
        &:first-child {
          color: #ED702C;
          margin-right: 10px;
        }
        &:last-child {
          color: #a1a1a1;
          margin-left: 10px;
        }
      }
    }
  }
  .pull_b {
    height: 80px;
    .h_logo {
      padding: 17px 0;
    }
    .h_name {
      margin-left: 15px;
      padding: 19px 0;
      h3 {
        font-size: 20px;
        margin: 0;
      }
      span {
        color: #B3B3B3;
        font-size: 12px;
      }
    }
    .h_phone {
      padding: 20px 0;
      h3 {
        margin: 0;
        font-size: 20px;
      }
      span {
        color: #6E7F9C;
        font-size: 12px;
      }
    }
  }
}
.navbar {
  width: 100%;
  height: 64px;
  background: #3A65C6;
  .layout {
    ul {
      li {
        float: left;
        padding: 22px 24px;
        a {
          color: #fff;
        }
        &.active{
          background: #193C8A;
        }
      }
    }
    .my_accont {
      width: 122px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      border: 1px solid #fff;
      color: #fff;
      margin: 14px 0;
      background: url(../../../src/assets/images/home/icon_person.png) 15px center no-repeat;
      padding-left: 28px;
    }
  }
}
.banner {
  width: 100%;
  height: 410px;
  background: url(../../../src/assets/images/home/home_banner1.jpg) no-repeat;
}
.wrap_bg {
  background: #ebeff8;
}
.icon_group {
  ul {
    li {
      // float: left;
      display: inline-block;
      text-align: center;
      padding: 20px 69px;
      .circleIcon {
        width: 94px;
        height: 94px;
        margin-bottom: 8px;
      }
      p {
        color: #666;
        font-weight: bold;
      }
      &:nth-of-type(1) {
        .circleIcon {
          background: url(../../../src/assets/images/home/home_icon1.png) no-repeat;
        }
      }
      &:nth-of-type(2) {
        .circleIcon {
          background: url(../../../src/assets/images/home/home_icon2.png) no-repeat;
        }
      }
      &:nth-of-type(3) {
        .circleIcon {
          background: url(../../../src/assets/images/home/home_icon3.png) no-repeat;
        }
      }
      &:nth-of-type(4),
      &:nth-of-type(5) {
        .circleIcon {
          background: url(../../../src/assets/images/home/home_icon4.png) no-repeat;
        }
      }
    }
  } 
}
.c_title {
  padding: 20px 0;
}

.tableGroup {
  .h_picture {
    width: 22%;
    img {
      width: 100%;
    }
  }
  .h_table {
    width: 78%;
  }
}
.footer {
  .pull_t {
    background: #3B4655;
    color: #748090;
  }
  .pull_b {
    background: #485463;
    color: #A2AAB4;
    text-align: center;
    padding: 8px 0;
  }
}





.adv_img {
  width: 1200px;
  height: 160px;
  margin-top: 38px;
}
.clearfloat {
  zoom: 1;
}
.clearfloat:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.pull_l {
  float: left;
  width: 50%;
  font-weight: bold;
  font-size: 16px;
  span {
    font-weight: lighter;
    color: #666;
    font-size: 12px;
    margin-left: 5px;
  }
}
.pull_r {
  float: right;
  width: 50%;
  text-align: right;
  font-size: 12px;
  color: #666;
}
.layout {
  max-width: 1200px;
  margin: 0 auto;
}
// .picture_l {
//   width: 260px;
//   height: 448px;
//   background: url(../../../src/assets/images/home/home_left_img1.jpg) no-repeat;
// }
.fl {
  float: left;
}
.fr {
  float: right;
}
.blue_bg {
  background: #4F76CE;
  color: #fff;
  padding: 20px 40px;
  .pull_r {
    color: #fff;
  }
}
.info_group {
  margin-top: 5px;
  ul {
    li {
      width: 152px;
      height: 74px;
      line-height: 74px;
      text-align: center;
      color: #666;
      font-weight: bold;
      margin-bottom: 8px;
    }
    &:first-child{
      li {
        background: url(../../../src/assets/images/home/icon_fire.png) 30px center #fff no-repeat;
      }
    }
    &:nth-of-type(2) {
      li {
        background: url(../../../src/assets/images/home/icon_line.png) 30px center #fff no-repeat;
      }
    }
    &:nth-of-type(3) {
      li {
        background: url(../../../src/assets/images/home/icon_eye.png) 30px center #fff no-repeat;
      }
    }
  }
}